body,html
{     
	height: 100%;    
	font-family: 'Lato', sans-serif;
	padding-top: 10px
 }


#nav{
	
	padding-top:10px;
	padding-left:60px;
	font-size:30px;
	background-color: #795548;
	width : 480px;
	height:700px;
	margin:auto;
	border-radius:10px;
	opacity:.9;
}
#nav input{
	
	
	margin-top:20px;
	width:265px;
	height:30px;
	font-size:15px;
	border-radius:5px;
	margin-left: 60px;
}

#nav input[placeholder]{
	
	font -size : 1.3em;
	padding-left : 5%;
	padding-right : 5%;
	font-weight: bold;
}
	
#nav input[name="chkbx"]{
	
	width:25px;
}

#nav input[name="signup"]{
	
	margin-top:10px;
	width:150px;
	border-radius:50px;
	margin-left:135px;
	font-size:20px;
	font-weight: bold;
	background-color:#04152F ;
	cursor:pointer;
	color:white;
}
#alert{
	width:300px;
	font-weight: bold;
	color:white;
	height:50px;
}