body,html
{     
	height: 100%;    
	font-family: 'Lato', sans-serif;
	padding-top: 5px
 }


#nav{
	
	padding-top:5px;
	padding-left:60px;
	font-size:30px;
	background-color: #795548;
	width : 500px;
	height:790px;
	margin:auto;
	border-radius:10px;
	opacity:.9;
}
#nav input{
	
	margin-top:5px;
	width:220px;
	height:30px;
	font-size:15px;
	border-radius:5px;
	margin-left: 85px;
	font-weight: bold;
}

#nav input[placeholder]{
	
	font -size : 1.3em;
	padding-left : 5%;
	padding-right : 5%;
	font-weight: bold;
}
	
#nav input[name="search"]{
	
	margin-top:20px;
	width:150px;
	border-radius:50px;
	margin-left:150px;
	font-size:20px;
	font-weight: bold;
	background-color:#04152F;
	cursor:pointer;
	color:white;
}
#nav h3{
	
	margin-left:75px;
}


#nav lable{

	padding-top:10px;
	margin-top:5px;
	font-size:25px;
}

