body,html
{     
	height: 100%;    
	font-family: 'Lato', sans-serif;
	padding-top: 10px
 }


#nav{
	
	padding-top:5px;
	padding-left:60px;
	font-size:30px;
	background-color: #F39C12;
	width : 500px;
	height:700px;
	margin:auto;
	border-radius:10px;
	opacity:.7;
}
#nav input{
	
	margin-top:5px;
	width:250px;
	height:30px;
	font-size:15px;
	border-radius:5px;
	margin-left: 70px;
	font-weight: bold;
}
	
#nav input[name="chkbx"]{
	
	width:25px;
	margin-left: 5px;
}


#nav input[name="submit"]{
	
	margin-top:5px;
	width:150px;
	border-radius:50px;
	margin-left:150px;
	font-size:20px;
	font-weight: bold;
	background-color:#2ECC71 ;
	cursor:pointer;
}


#nav lable{

	padding-top:10px;
	margin-top:5px;
	font-size:25px;
}

#side{
	
	background-color: #FFF59D;
	width:220px;
	height:70px;
	font-size:18px;
	border-radius:10px;
	opacity:.7;
	margin-top:50px;
	

	
}

#side a{
	
	margin-left:20px;
	margin-top:20px;
	font-weight: bold;
	font-size:15px;
	padding-top:20px;
	height:200px;
	
}