body,html
{     
	height: 100%;    
	font-family: 'Lato', sans-serif;
	padding-top: 10px
 }


#nav{
	
	padding-top:5px;
	padding-left:60px;
	font-size:30px;
	background-color: #F39C12;
	width : 480px;
	height:380px;
	margin:auto;
	border-radius:10px;
	opacity:.7;
}
#nav input{
	
	margin-top:5px;
	width:250px;
	height:30px;
	font-size:15px;
	border-radius:5px;
	margin-left: 70px;
	font-weight: bold;
}

#nav input[name="chkbx"]{
	
	width:25px;
}
	
#nav input[name="delete"]{
	
	margin-top:10px;
	width:200px;
	border-radius:50px;
	margin-left:100px;
	font-size:20px;
	font-weight: bold;
	background-color:#2ECC71 ;
	cursor:pointer;
}


#nav lable{

	padding-top:10px;
	margin-top:5px;
	font-size:20px;
	font-weight: bold;
}